* {
  margin: 1;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #014e56;
  color: white;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1100px;
}

.header {
  padding: 20px 0;
  background: #014e56;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: 700;
}

.logo1 {
    width: 165px;

}

.logo2 {
    width: 65px;
}

.desktop-nav a {
  margin-left: 30px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.footer-nav a {
  margin-left: 30px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.contact-btn {
  background: #014e56;
  color: wheat !important;
  border: solid 2px wheat;
  padding: 5px 10px;
  border-radius: 50px;
}

.mobile-menu-btn {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  background: #012f34;
  padding: 20px;
}

.mobile-nav.open {
  display: flex;
  align-items: center;
}

.mobile-nav a {
  margin-bottom: 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.about-section {
  padding: 90px 0;
}

.about-section h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.directors-section {
  text-align: center;
  padding: 80px 0;
  background: #004047;
}

.directors-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.director-card {
  background: #012f34;
  padding: 20px;
  width: auto;
  border-radius: 10px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.clients-section {
  padding: 70px 0;
  text-align: center;
}

.clients span {
  margin: 15px;
  display: inline-block;
  font-size: 20px;
}

.cta-section {
  background: #f67e7e;
  padding: 60px 0;
  color: #012f34;
  text-align: center;
}

.cta-box a {
  background: #f67e7e;
  border: solid 2px #012f34;
  color: #012f34 !important;
  padding: 5px 10px;
  border-radius: 50px;
  text-decoration: none;
}

.footer {
  background: #002529;
  padding: 40px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .desktop-nav { display: none; }
  .mobile-menu-btn { display: block; }
  .directors-container { flex-direction: column; }
}
